.guideCard {
  display: flex;
  max-width: 80%;
  min-height: 200px;
  border-radius: 24px;
  border: 1px solid #274c77;
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024,
    0 3px 14px 2px #0000001f;

  img {
    width: 50%;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
  }

  .textContainer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h2 {
    span {
      color: #576676;
    }
  }
  p {
    margin: 20px 0px;
  }
  .button-container {
    display: flex;

    .website {
      font-size: 16px;
      padding: 10px;
      border-radius: 10px;
      outline: none;
      border: none;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      background-color: #274c77;
      color: white;

      &:hover {
        cursor: pointer;
        transform: translateY(-2px);
      }
      a {
        opacity: 1;
        color: white;
      }
    }
    .code {
      font-size: 16px;
      padding: 8px 10px;
      border-radius: 10px;
      opacity: 1;
      margin-left: 10px;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      border: 1px solid #274c77;

      &:hover {
        cursor: pointer;
        transform: translateY(-2px);
      }
    }
  }
}

.workInProgress {
  opacity: 0.4;
  border: none;
}
@media (max-width: 900px) {
  .guideCard {
    min-width: 46%;
    max-width: 46%;
    width: 46%;
  }
}
@media (max-width: 600px) {
  .guideCard {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
}
