.tiagosGuides {
  min-height: 100vh;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    font-size: 100px;
  }

  .subtitle {
    margin-top: 5px;
    font-size: 18px;
    padding: 0 35px;
    text-align: center;
  }

  .guidesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
}
